#cart_card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
}

#cart_card img{
    width: 15%;

}