#nav{
    background-color:#DDA0DD;
    /* height: 40px; */
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40%;
    color: rgb(0, 0, 0);
    position:sticky;
    z-index: 1;
    top: 0;
    
    
}
#right_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    /* background-color: aqua; */
    /* width: 15%; */
    gap: 50px;
    padding: 0px 20px 0px 20px;
}
#right_bar img{
    width: 40px;
    border-radius: 10px;
    /* background-color: aqua; */
}
#img_area{
    background-color: #F7F7F7;
    border-radius: 10px;
    padding: 5px 20px 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#img_area p{
    position:absolute;
    
    margin:-52px 0px 0px 38px ;
}

#right_bar a,p{
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
    font-size: 18px;
}
#logo_store a{
    background-color: aqua;
    text-decoration: none;
}