#search{
    /* background-color: antiquewhite; */
    display: flex;
    margin: 2% auto;
    width: 30%;
    gap: 10px;
    justify-content: space-between;
    /* margin: auto; */
    /* align-content: center; */
    
}
#search img{
    width: 40px;
    border-radius: 8px;
    
}
#search img:hover{
    cursor: pointer;
    
}
#search input{
    width: 100%;
    /* border: 0; */
    height: 38px;
    outline: 0;
    border-width: 0px 0px 1px ;
    font-size: large;
  background-color: 	#E6E6FA;

}
#filter_icon{
    display: none;
}
#modal{
    display: none;
   
}

@media screen and (max-width: 1100px) {
    #filter_icon{
        display: block;
    }
  }

  @media screen and (max-width: 940px) {
    
    #search{
        width: 90%;
    }
    
  }